<div class="content">
  <h2 class="text-center">{{ title }}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addProject" class="contentForm">

    <mat-form-field class="input-field">
      <input matInput placeholder="Titre" formControlName="title" type="text">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput placeholder="Durée (jours)" formControlName="duration" type="number" [min]="1">
    </mat-form-field>

    <mat-form-field class="input-field">
      <textarea matInput placeholder="Description" formControlName="description" rows="4"></textarea>
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput placeholder="Adresse du dépôt" formControlName="repositoryURL" type="url" [pattern]="URL_REGEX">
    </mat-form-field>

    <!-- TODO: Add file input
    <mat-form-field class="input-field">
      <mat-label>Cahier des charges (PDF)</mat-label>
      <input matInput formControlName="refspecifying" type="file">
    </mat-form-field>
    -->

    <!-- TMP text input -->
    <mat-form-field class="input-field">
      <input matInput placeholder="CDC" formControlName="refspecifying" type="text">
    </mat-form-field>

    <button mat-raised-button type="submit">Enregister le projet</button>

  </form>
</div>

