version: "3.3"

services:
  front-container:
    image: front-end
    ports:
      - "4200:4200"
    container_name: front-container
    restart: always
  back-container:
    container_name: back-container
    image: back-end
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - db-cdp
  db-cdp:
      container_name: db-cdp
      image: bitnami/mongodb:latest
      ports:
        - "27017:27017"


    
