
<div class="content">
    <h2 class="text-center">{{ title }}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="addTask" class="contentForm">

        <mat-form-field class="input-field">
            <textarea matInput placeholder="Dod" formControlName="dod" rows="4"></textarea>
        </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>US liées</mat-label>
            <mat-select formControlName="issues" multiple>
                <mat-option *ngFor="let id of issueIds" [value]="id">{{id}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="input-field">
            <input matInput [matDatepicker]="picker1" placeholder="Date de début" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="input-field">
            <input matInput [matDatepicker]="picker2" placeholder="Date de fin" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

    </form>
    <div mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Enregister la tâche</button>
        <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
    </div>
</div>
  