
<div class="header">
  <button mat-mini-fab matTooltip="Retour" class="d-block mx-auto button-back" color="primary">
    <mat-icon (click)="goBack()">arrow_back</mat-icon>
  </button>
  <h2 class="textCenter" *ngIf="sprint"> Kanban {{sprint.title}} {{sprint.sprintId}}
    <button mat-fab [color]="getStateColor()"
            [matBadge]="getDaysLeft()" matBadgePosition="below after" matBadgeDescription="Nombre de Jours Restants" matTooltip="Nombre de Jours Restants" matBadgeColor="warn">
      {{getState()}}
    </button>
  </h2>


  <button mat-mini-fab matTooltip="Ordre des tâches" class="d-block mx-auto" (click)="openStepTask()" color="basic">
    <mat-icon>clear_all</mat-icon>
  </button>
</div>


<div class="box">
  <div cdkDropListGroup>
    <div class="task-container">
      <mat-chip-list class="mat-chip-list-stacked " aria-label="Color selection">
        <mat-chip  selected color="warn">
         <h5 class="textCenter">Reste à faire</h5>
        </mat-chip>
      </mat-chip-list>
      <div id="todo"
        cdkDropList
        [cdkDropListData]="taskTodo"
        class="task-list"
        cdkDropListSortingDisabled

        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of taskTodo"  cdkDrag>
          <mat-accordion>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title class="font-weight-bold">{{'#'+item.taskId}} {{getDependTask(item._id,item.state)}}</mat-panel-title>
                <mat-panel-description>{{item.endDate | date: 'dd/MM'  }}
                  <button mat-mini-fab class="statusTask" [color]=getStateTask(item._id,item.state) [matTooltip]="showStateTask(item._id,item.state)"></button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <p>{{item.dod}}</p>
                <p class="font-weight-bold" style="float: left">
                  {{item.startDate | date: 'dd/MM' }}
                </p>
                <p class="font-weight-bold" *ngIf="item.dev !== null" style="float: right">Affecté à: {{getNameUser(item.dev)}}</p>
              </div>
              <mat-action-row>

              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>

    <div class="task-container">
      <mat-chip-list class="mat-chip-list-stacked " aria-label="Color selection">
        <mat-chip  selected color="primary">
          <h5 class="textCenter">En cours</h5>
        </mat-chip>
      </mat-chip-list>

      <div id="cours"
        cdkDropList
        [cdkDropListData]="taskEncours"
        class="task-list"

        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of taskEncours" [cdkDragDisabled]="item.dev !== authenticationService.getIdUser()" cdkDrag>
          <mat-accordion>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title class="font-weight-bold">{{'#'+item.taskId}} {{getDependTask(item._id,item.state)}}</mat-panel-title>
                <mat-panel-description>{{item.endDate | date: 'dd/MM'}}
                  <button mat-mini-fab class="statusTask" [color]=getStateTask(item._id,item.state) [matTooltip]="showStateTask(item._id,item.state)"></button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <p>{{item.dod}}</p>
                <p class="font-weight-bold" style="float: left">
                  {{item.startDate | date: 'dd/MM' }}
                </p>
                <p class="font-weight-bold" *ngIf="item.dev !== null"  style="float: right">Affecté à: {{getNameUser(item.dev)}}</p>
              </div>
              <mat-action-row>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          </div>
      </div>
    </div>

    <div class="task-container">
      <div class="titleBox">
        <mat-chip-list class="mat-chip-list-stacked " aria-label="Color selection">
          <mat-chip  selected color="accent">
            <h5 class="textCenter">Terminé</h5>
          </mat-chip>
        </mat-chip-list>
      </div>


      <div id="finish"
        cdkDropList
        [cdkDropListData]="taskFinish"
        class="task-list"

        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of taskFinish" cdkDrag>
          <mat-accordion >
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title class="font-weight-bold">{{'#'+item.taskId}} {{getDependTask(item._id,item.state)}}</mat-panel-title>
                <mat-panel-description>{{item.endDate | date: 'dd/MM' }}
                  <button mat-mini-fab class="statusTask" [color]=getStateTask(item._id,item.state) [matTooltip]="showStateTask(item._id,item.state)"></button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <p>{{item.dod}}</p>
                <p class="font-weight-bold" style="float: left">
                  {{item.startDate | date: 'dd/MM' }}
                </p>
                <p class="font-weight-bold" *ngIf="item.dev !== null"  style="float: right">Affecté à: {{getNameUser(item.dev)}}</p>
              </div>
              <mat-action-row>

                <button mat-mini-fab [matTooltip]="showStateDoc(item._id)" [color]=getStateDoc(item._id)  >
                  <mat-icon>check_circle</mat-icon>
                </button>
                <button mat-mini-fab [matTooltip]="showStateTest(item._id)" [color]=getStateTest(item._id)  >
                  <mat-icon>check_circle</mat-icon>
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
