
<div class="header">
  <button mat-mini-fab matTooltip="Retour" class="d-block mx-auto button-back" color="primary">
    <mat-icon (click)="goBack()">arrow_back</mat-icon>
  </button>
  <h2 class="textCenter" *ngIf="sprint"> {{sprint.title}} {{sprint.sprintId}}</h2>
</div>


<div class="box">
  <div cdkDropListGroup>
    <div class="task-container">
      <h2 class="textCenter"  style="background-color: #FF1717">Reste à faire</h2>

      <div id="todo"
        cdkDropList
        [cdkDropListData]="taskTodo"
        class="task-list"
        cdkDropListSortingDisabled

        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of taskTodo"  cdkDrag>
          <mat-accordion>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title class="font-weight-bold">{{'#'+item.taskId}}</mat-panel-title>
                <mat-panel-description>{{item.dod | slice:0:15 }} </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{item.dod}}</p>
              <mat-action-row>
                <p class="font-weight-bold">Affecté à: {{getNameUser(item.dev)}}</p>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>

    <div class="task-container">
      <h2 class="textCenter" style="background-color: #FFD817">En cours</h2>

      <div id="cours"
        cdkDropList
        [cdkDropListData]="taskEncours"
        class="task-list"

        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of taskEncours" [cdkDragDisabled]="item.dev !== authenticationService.getIdUser()" cdkDrag>
          <mat-accordion>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title class="font-weight-bold">{{'#'+item.taskId}}</mat-panel-title>
                <mat-panel-description>{{item.dod | slice:0:15 }}</mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{item.dod}}</p>
              <mat-action-row>
                <p class="font-weight-bold">Affecté à: {{getNameUser(item.dev)}}</p>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          </div>
      </div>
    </div>

    <div class="task-container">
      <h2 class="textCenter" style="background-color: #8BDB47">Terminer</h2>

      <div id="finish"
        cdkDropList
        [cdkDropListData]="taskEnTermine"
        class="task-list"

        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of taskEnTermine"  cdkDrag>
          <mat-accordion >
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title class="font-weight-bold">{{'#'+item.taskId}}</mat-panel-title>
                <mat-panel-description>{{item.dod | slice:0:15 }}</mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{item.dod}}</p>
              <mat-action-row>
                  <p class="font-weight-bold">Affecté à: {{getNameUser(item.dev)}} </p>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
