
<div class="header">

  <button mat-mini-fab matTooltip="Retour" class="d-block mx-auto button-back" color="primary">
    <mat-icon (click)="goBack()">arrow_back</mat-icon>
  </button>
  <h2>Détail du Projet <em>{{ title }}</em></h2>

  <div class="d-block mx-auto">
    <button (click)="addUser()" *ngIf="role==='PO'" mat-mini-fab matTooltip="Ajouter un collaborateur" color="basic" class="mr-2">
    <mat-icon>person_add</mat-icon>
  </button>
    <button (click)="openBurnDownChart()" mat-mini-fab matTooltip="BurnDown Chart" color="basic">
      <mat-icon>show_chart</mat-icon>
    </button>
  </div>

</div>
<div class="main-frame row">
  <h4 class="filter sprints">
    <span matBadge="{{ sprints.length }}" matBadgeOverlap="false">Nombre de Sprints</span>
  </h4>
  <mat-form-field class="selectSprint">
    <mat-label>Afficher un sprint</mat-label>
    <mat-select [(value)]="idSelectedSprint" (selectionChange)="getSprintSelected()">
      <mat-option *ngFor="let sprint of sprints" value="{{sprint._id}}">{{ sprint.title }} {{ sprint.sprintId }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button class="button-add sprints-add" color="primary" (click)="addSprint()"> Ajouter un Sprint </button>
</div>

<div class="main-frame">
  <div class="contain-project">
    <div class="box sprint">
      <!-- Table Sprint -->
      <mat-accordion *ngIf="sprintSelected">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              {{sprintSelected.title }} {{sprintSelected.sprintId}} ({{sprintSelected.state}})
            </mat-panel-title>
            <mat-panel-description>{{sprintSelected.title}} : Issues / Tâches  <p style="float:right;font-weight: bold;color: black">{{sprintSelected.startDate | date: 'dd/LL'}} - {{sprintSelected.endDate | date: 'dd/LL'}}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-action-row>
            <button mat-mini-fab matTooltip="Editer le Sprint" color="primary">
              <mat-icon (click)="updateSprint()">edit</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Supprimer le Sprint" color="warn">
              <mat-icon (click)="deleteSprint()">delete</mat-icon>
            </button>
            <button
                mat-mini-fab matTooltip="Définition des tâches" color="accent" [routerLink]="['/sprint', idSelectedSprint]">
              <mat-icon>assignment</mat-icon>
            </button>
            <button *ngIf="sprintSelected.state !== 'To Start'" mat-mini-fab matTooltip="Suivi des tâches" color="accent" [routerLink]="['/kanban', idSelectedSprint]">
              <mat-icon>view_column</mat-icon>
            </button>
            <button *ngIf="sprintSelected.release" (click)="goToRelease()"  mat-mini-fab matTooltip="Release Sprint" color="accent" >
              <mat-icon>link</mat-icon>
            </button>


          </mat-action-row>
          <div class="main-frame">
            <table mat-table [dataSource]="getIssuesBySprint(idSelectedSprint)" class="mat-elevation-z8">
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-footer-cell *matFooterCellDef> Total Difficulté: </td>
                <td mat-cell *matCellDef="let element"> {{ element.issueId }} </td>
              </ng-container>
              <ng-container matColumnDef="Description" maxlength="70%">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.description }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="Note">
                <th mat-header-cell *matHeaderCellDef> Note </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.note}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="Priorité">
                <th mat-header-cell *matHeaderCellDef> Priorité </th>
                <td mat-cell *matCellDef="let element"> {{ element.priority }} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="Etat">
                <th mat-header-cell *matHeaderCellDef> Etat </th>
                <td mat-cell *matCellDef="let element">{{ element.state }} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="Actions" class="listButton">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element" >
                  <div class="listButton">
                    <a (click)="updateIssue(element._id)" matTooltip="Editer l'issue" mat-mini-fab mat-raised-button color="primary">
                      <mat-icon>edit</mat-icon>
                    </a>
                    <a (click)="deleteIssue(element._id,element.issueId)" [disabled]="sprintSelected.state === 'Completed'" matTooltip="Supprimer l'issue" mat-mini-fab mat-raised-button color="warn">
                      <mat-icon>delete</mat-icon>
                    </a>
                    <a (click)="moveIssueTo(element._id,'backlog')" [disabled]="sprintSelected.state === 'Completed'" matTooltip="Placer dans le Backlog" mat-mini-fab mat-raised-button color="basic">
                      <mat-icon>vertical_align_bottom</mat-icon>
                    </a>
                  </div>

                </td>
                <td  mat-footer-cell *matFooterCellDef> {{getTotalDifficultySprint() | number}} </td>
              </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="box">
      <!-- Table Backlog -->
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">Backlog</mat-panel-title>
            <mat-panel-description>Liste des issues</mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <mat-form-field class="filter">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <button mat-raised-button class="button-add" color="primary" (click)="addIssue()" *ngIf="role !== 'PO'"> Ajouter une Issue </button>
          </div>

          <div class="main-frame">
            <table mat-table [dataSource]="issues" class="mat-elevation-z8">
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.issueId }} </td>
                <td mat-footer-cell *matFooterCellDef> Total Difficulté: </td>
              </ng-container>
              <ng-container matColumnDef="Description" maxlength="70%">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.description }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="Note">
                <th mat-header-cell *matHeaderCellDef> Note (PO) </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.note}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="Priorité">
                <th mat-header-cell *matHeaderCellDef> Priorité </th>
                <td mat-cell *matCellDef="let element"> {{ element.priority }} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="Etat">
                <th mat-header-cell *matHeaderCellDef> Etat </th>
                <td mat-cell *matCellDef="let element">{{ element.state }} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <a (click)="updateIssue(element._id)" matTooltip="Editer l'issue" mat-mini-fab mat-raised-button color="primary">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <a (click)="deleteIssue(element._id,element.issueId)" matTooltip="Supprimer l'issue" mat-mini-fab mat-raised-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </a>
                  <a *ngIf="idSelectedSprint" (click)="moveIssueTo(element._id,'sprint')" matTooltip="Placer dans le sprint sélectionner" mat-mini-fab mat-raised-button color="basic">
                    <mat-icon>vertical_align_top</mat-icon>
                  </a>
                </td>
                <td  mat-footer-cell *matFooterCellDef> {{getTotalDifficulty() | number}} </td>
              </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
