.main-frame {
  width: 90%;
}

.filter {
  width: 100%;
  align-content: flex-start;
  margin-left: 2%;
}

.sprints {
  width: 32%;
  align-content: flex-start;
  justify-content: flex-start;
}

.mat-expansion-panel {
  box-shadow: 10px 5px 5px #c7c7c7;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.selectSprint {
  margin-left: 6%;
  width: 30%;
  align-content: center;
  justify-content: center;
}

table {
  width: 100%;
  text-align: center !important;
}

.mat-header-cell {
  text-align: center;
}

.button-add {
  text-align: center;
  width: 20%;
  height: 10%;
  margin-left: 2%;
  align-content: flex-end;
}

.sprints-add {
  align-content: flex-end;
  justify-content: flex-end;
  margin-left: 10%;
}

.button-sprint {
  text-align: end;
}

.button-header{
  display: flex;
  justify-content: space-between;

}




.row {
  display: flex;
  flex-wrap: nowrap;
}

.mat-row:not(.mat-header-cell):hover {
  background: #CCC;
}

.mat-column-Description {
  width: 50% !important;
  text-align: justify;
}

.contain-project {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.box {
  border-radius: 5px;
  padding: 20px;
}
