
<div class="content">
  <h2 class="text-center">{{ title }}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addSprint" class="contentForm">

    <mat-form-field class="input-field">
      <input matInput placeholder="Titre" formControlName="title">
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Etat</mat-label>
      <mat-select value="To Start" formControlName="state">
        <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [matDatepicker]="picker1" placeholder="Date de début" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [matDatepicker]="picker2" placeholder="Date de fin" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="input-field">
      <input matInput placeholder="URL de la release" formControlName="release" type="url" [pattern]="URL_REGEX">
    </mat-form-field>

  </form>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Enregister le sprint</button>
    <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
  </mat-dialog-actions>

  </div>
