.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.content {
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

h1{
  text-align: center;

}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.inline .mat-form-field {
  margin-right: 20px;
  margin-left: 20px;
}

.form-group{
  margin-top: 30px;
  width: 580px;
  margin-left: 30%;

}

.validation {
  margin-top:25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40%;
}

.validation .spinner {
  margin-left: 15px;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

form button[type='submit'] {
  margin-top:25px;
  width: 300px;
  background-color: #2e8622;
}
