
<div class="content">
  <h2 class="text-center">{{ title }}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addSprint" class="contentForm">

    <mat-form-field class="input-field">
      <input matInput placeholder="Titre " formControlName="title">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput type="date" placeholder="Date de début" formControlName="startDate">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput type="date" placeholder="Date de fin " formControlName="endDate">
    </mat-form-field>


    <button mat-raised-button type="submit">Enregister le sprint</button>

  </form>

  </div>
