table {
    width: 100%;
    text-align: center !important;
}
.filter{
  width: 100%;
}
.main-frame{
  width: 80% !important;
}

.mat-header-cell {
    text-align: center;
}

.mat-row:not(.mat-header-cell):hover {
    background: #CCC;
}
