<div class="content-home">
  <div ></div>
  <div class="content">
  <h3 class="text-center mb-4 mt-3">Créer un compte</h3>
  <form class="formGroup" class="contentForm" novalidate [formGroup]="signupForm">

    <mat-form-field class="input-field">
      <input matInput placeholder="Nom d'utilisateur" formControlName="username" type="text">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput placeholder="Email" formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput placeholder="Mot de passe" formControlName="password" type="password">
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button class="mr-1" color="primary" type="submit" name="createAccount" (click)="submitSignupForm()">S'inscrire</button>
      <button mat-raised-button color="warn" type="reset" name="reset" >Annuler</button>
    </div>

    <hr>

    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" (click)="signIn()" selected>Se connecter</mat-chip>
    </mat-chip-list>

  </form>
</div>

<div></div>
</div>

