.mat-dialog-actions {
  margin-bottom: 10px !important;
  justify-content: center;
}

.content-home{
  align-items: center;
  display: flex;
  justify-content: center;;
  flex-wrap: wrap;
  flex-direction: column;
  height: 500px;


}

.content{
  width: 50%;
  margin-left: 10px;
  padding-left: 10px;
  flex-basis: 5px;
  margin-top:9%;
  background-color: white;
  height: 70%!important;
  box-shadow: 10px 5px 5px #c7c7c7;
  border-radius: 30px;
}

