<div class="row mt-5">
  <div class="col-md-6 col-lg-4 mx-auto">
    <div class="card card-body">
      <h3 class="text-center mb-4 mt-2">Créer un compte</h3>
      <form class="formGroup mt-3" novalidate [formGroup]="signupForm">

        <mat-form-field class="input-field">
          <input matInput placeholder="Nom d'utilisateur" formControlName="userName" type="username">
        </mat-form-field>

        <mat-form-field class="input-field">
          <input matInput placeholder="E-mail" formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field class="input-field">
          <input matInput placeholder="Mot de passe" formControlName="password" type="password">
        </mat-form-field>

        <div mat-dialog-actions align="center">
          <button mat-raised-button class="mr-1" color="primary" type="submit" name="createAccount" (click)="submitSignupForm()">S'inscrire</button>
          <button mat-raised-button color="warn" type="reset" name="reset" (click)="reset">Reset</button>
        </div>

      </form>
    </div>
  </div>
</div>
