table {
  width: 100%;
  text-align: center !important;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.main-frame {
  width: 80% !important;
}

.mat-header-cell {
  text-align: center;
}

.expanded-row:hover {
  background: #CCC;
}

.mat-column-DoD {
  width: 50% !important;
  text-align: justify;
}
tr.mat-footer-row {
  font-weight: bold;
}


tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #777;
}

.element-detail {
  overflow: hidden;
  display: flex;
}
