@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

$accent: mat-palette($mat-indigo);
$warn: mat-palette($mat-red);
$primary: mat-palette($mat-blue);


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$dark-primary: mat-palette($mat-blue,800);
$dark-accent: mat-palette($mat-orange,800);

$dark-theme: mat-dark-theme($primary, $accent);

.material-dark-theme {
  @include angular-material-theme($dark-theme);
}
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-back{
  float: left;
  margin-left: 11px !important;
}

.button-right{
  float: right;
  margin-right: 25px !important;
}

/* Page Content */
.header {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.main-frame {
    padding: 5px;
    width: 70%;
    margin: auto;
    text-align: center;
}



/* Forms */
.contentForm {
    margin: 5px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.input-field {
    width: 100%;
}

.content {
    display: grid;
    justify-content: center;
    margin-top: 15px;
}
